<div class="row">
<div class="container">
  	 
     <div class="page-header">
     <h1>Listing Recent Borrowed books</h1>
     </div>
<% if @barrowingbooks.empty? %>
	<p> No Books Found </p>
<% else %>
<h4>Total books :<%=@barrowingbooks.size%></h4>


<br/>
<table class ="table table-striped">
<thead>
	<tr>
	<b>
		<th>#</th>
		<th>Book Name</th>
		<th>Borrowed Date</th>
		<th>Due Date</th>
		<th>Date Returned</th>
		
	</b>	
	</tr>
</thead>
</tbody>

	
<% @barrowingbooks.each_with_index do |book,index|%>

	
	<tr>
		<td> <%=index+1 %></td>
		  <td><%=book.book.name %></td>
		  <td><%=book.barrowing_date %></td>
		  <td><%=book.due_date%></td>
		  <td><%=book.date_returned %></td>
		  
		  </td>

	</tr>
	<%end%>
</tbody>
</table >
<% end %>

	

	

